<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="ProcessFilePath" value="Docs\FileProcessing.csv" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="Gelf4NLog.Target" />
    </extensions>
    <targets async="true">
      <target name="file" xsi:type="File" layout="${longdate} | ${level} | ${message}${onexception:${newline}EXCEPTION\:${exception:format=tostring,StackTrace}}" fileName="Docs\HerbTran-${shortdate}.log" />
    </targets>
    <rules>
      <logger name="*" minlevel="trace" writeTo="file" />
    </rules>
  </nlog>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>